# db
MONGO_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# server
PORT=3000

# bcrypt
BCRYPT_SALT_ROUNDS=10

# jwt
JWT_SECRET=your-jwt-secret

# nodemailer
EMAIL_USER="your-email@example.com"
EMAIL_PASS="your-email-password"